---
import "../global.css";
import { Font } from "astro:assets";
import favicon from "../assets/favicon.png";
import appleTouchIcon from "../assets/apple-touch-icon.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link href={favicon.src} rel="shortcut icon" type="image/x-icon" />
    <link href={appleTouchIcon.src} rel="apple-touch-icon" />
    <title>supermemory™</title>
    <meta
      name="description"
      content="The universal memory API for the AI era. Stop building retrieval from scratch. Personalise LLMs for your users. Built for developers who ship."
    />
    <Font cssVariable="--font-space-grotesk" preload />
  </head>
  <body class="bg-background">
    <slot />
  </body>
</html>
